h1{
    text-align: center;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
li{
    list-style-type: none;
    font-size: 20px;
    margin: 10px;

    
}
h2{
    text-align: center;
}

